<div class='content'>
  <div class="dialog">

  <h2>Change password</h2>

    <%= form_for @user,  :url => update_password_user_url(@user), :html => {:method => :put} do |f| %>
    
      <p>To prevent abuse, please enter your current password.</p>
      <p><%= password_field_tag 'user[current_password]', '', :size => 20, :class=>"text" %></p>
    
      <p>Please enter your new password (and the confirmation) below.</p>
      <p><%= password_field_tag 'user[password]', '', :size => 20, :class=>"text"  %></p>
      <p><%= password_field_tag 'user[password_confirmation]', '', :size => 20, :class=>"text"  %></p>
    
      <p><%= submit_tag "Change", :class=>"submit" %> or <%= link_to "forget about it", profile_url(@user) %></p>
      
    <% end %>

  </div>
</div>

